header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#img2 {
    position: fixed;
    top: 0;
    left: 50%;
    height: 250px;
    transform: translateX(-50%);
    z-index: 1000;
    border: 5px solid black;
    /*filter: drop-shadow(10px 10px 10px red);*/
    box-shadow: 5px 5px red;
}

#container {
    padding-top: 280px;
}

#images-container {
    display: flex;
    justify-content: space-between;
}

#img1 {
    float: left;
}

#img5 {
    float: right;
}


/*.cuadrado{
    width: 100px;
    height: 100px;
    background: blue;
    position: relative;
    float: right;
}

.circulo {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
}*/